
.stickyfilter {
  position: fixed;
  top: 50px;
  width: 100%;
z-index: 1020;
box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);

}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1020;
}
