.col {
  flex-wrap: wrap;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.row{
  margin-top: 100px;
}

.container{
  flex-wrap: wrap;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  
}

@media (min-width: 1200px){
.container {
    max-width: 1240px;
}
}